<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= user.username %>
    </title>
</head>

<body>

    <h3>Username</h3>
    <p>
        <%= user.username %>
    </p>

    <h3>Email</h3>
    <p>
        <%= user.email %>
    </p>

    <h3>Referrals Left</h3>
    <p>
        <%= user.referralsLeft %>
    </p>

    <button>
        <a href="/posts/create">
            Post Something
        </a>
    </button>

    <button>
        <a href="/users/logout">
            Logout
        </a>
    </button>

    <hr>

    <h1>Your wall</h1>

    <% if(posts.length < 1){ %>
        <h3>you have not posted anything</h3>
    <% } else{ %>

        <% posts.forEach(e=> { %>
            <div class="post">
                <p><strong>
                    <%= e.title %> 
                </strong></p>

                <p class="post-body"><%= e.body %> </p>

            </div>

        <% }) %>
    <% } %>




</body>

<style>
    .post{
        border: 2px solid black;
        padding: 2%;
        margin: 10%;
    }

    .dont-break-out {

        /* These are technically the same, but use both */
        overflow-wrap: break-word;
        word-wrap: break-word;
      
        -ms-word-break: break-all;
        /* This is the dangerous one in WebKit, as it breaks things wherever */
        word-break: break-all;
        /* Instead use this non-standard one: */
        word-break: break-word;
      
        /* Adds a hyphen where the word breaks, if supported (No Blink) */
        -ms-hyphens: auto;
        -moz-hyphens: auto;
        -webkit-hyphens: auto;
        hyphens: auto;
      
      }
</style>

<script>
    const urlify = (text) => {
        var urlRegex = /(https?:\/\/[^\s]+)/g;
        return text.replace(urlRegex, function (url) {
            return '<a class="dont-break-out" target="_blank" href="' + url + '">' + url + '</a>';
        })
    }
    
    window.addEventListener('load', function () {
        let pTags = document.querySelectorAll(".post-body");
        pTags.forEach((tag) => {
            let trasnformedContent = urlify(tag.innerHTML);
            tag.innerHTML = trasnformedContent;
        })
    
    })
    
    
    
</script>


</html>