<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= user.username %>
    </title>
</head>

<body>

    <h3>Username</h3>
    <p>
        <%= user.username %>
    </p>

    <h3>Email</h3>
    <p>
        <%= user.email %>
    </p>

    <h3>Referrals Left</h3>
    <p>
        <%= user.referralsLeft %>
    </p>

    <button>
        <a href="/posts/create">
            Post Something
        </a>
    </button>

    <button>
        <a href="/users/logout">
            Logout
        </a>
    </button>

    <hr>

    <h1>Your wall</h1>

    <% if(posts.length < 1){ %>
        <h3>you have not posted anything</h3>
    <% } else{ %>

        <% posts.forEach(e=> { %>
            <div class="post">
                <p><strong>
                    <%= e.title %> 
                </strong></p>

                <p><%= e.body %> </p>

            </div>

        <% }) %>
    <% } %>




</body>

<style>
    .post{
        border: 2px solid black;
        padding: 2%;
        margin: 10%;
    }
</style>

</html>